form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 10px;
  margin: auto;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

button {
  max-width: 200px;
  border: none;
  margin: auto;
  padding: 10px 25px;
}

.form-row {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr;
}
